:root {
    --toolbar-width: 70px;
    --toolbar-button-color: #1565c0;
    --close-button-color: red;
}

* {
    touch-action: none !important;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: white;
}

h1 {
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
}

#toolbar {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: var(--toolbar-width);
    background-color: #202020;
    height: 100%;
}

#toolbar * {
    margin-bottom: 6px;
}

#toolbar label {
    font-size: 12px;
}

#toolbar input {
    width: 100%;
}

#toolbar button {
    background-color: var(--toolbar-button-color);
    border: none;
    border-radius: 4px;
    color:white;
    padding: 2px;
}

canvas {
    z-index: 100;
    width: 100%;
    height: 100%;
    /* position: relative; */
}

#drawing-board {
    width: calc(100% - var(--toolbar-width));
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: visible;
}

.red-bg {
    background-color: red;
}

.hidden {
    display: none;
}

.shadowing {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    background-color: black;
}

#download-area {
    background-color: #000;
    position: absolute;
    width: 70%;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    /* height: 700px; */
    top: 0;
    left: calc(30% / 2);
    padding-bottom: 20px;
    text-align: center;
    overflow: scroll;
}

#download-area img {
    width: 90%;
    height: auto;
    max-height: 800px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid black;
}

#download-area a {
    overflow: auto;
}

.close-button {
    position: absolute;
    background-color: var(--close-button-color);
    right: 5px;
    top: 5px;
    color: white;
}